body li{list-style-type: none;}

.container-fluid{
    background: black;  
    color: rgba(255, 255, 255, 0.74);
}
.navlinkdemo{
    border-right: 0.1px solid rgb(101,101,101);
    border-left: 0.1px solid rgb(101,101,101);
}
.main-menu{
    display: flex;
    margin: 20px;
    padding: 5px;
    list-style-type: none;

}
.kecid{
    margin: 5px;
    padding: 5px;
}
.row a{
	color:rgb(159,149,155) ! important;
	font-size: 12px;
	display: flex;
	padding: 9px;
	text-decoration: none;
}
.logo{
    padding: 9px;
}
.icons{
    display: flex;
    padding: 8px;
    margin: 8px;
}

#ikinci{
	height:100px;
	
}

#ikinci .row a{
	color:black ! important;
	text-decoration: none;
	
	font-size: 15px;
	-webkit-transition: all 0.4s; 	

}

#ikinci .row a:hover{
	color:blue ! important;
}

#ikinci .row{
	font-size: 19px;
}
.img-box{
    width: 250px;
}

.img-box img{
    width: 100%;
}

.container .musti{
    margin-bottom: 30px;
}
.sekilalti{
    position: absolute;
    top: 100%;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 20px;
    padding: 8px 25px;
    width: 56%;
    text-align: center;
    transition: 0.3s all linear;
}
.img-inner{
    position: relative;
    overflow: hidden;
}
.filtersec{height: 0;
    visibility: hidden;
position: relative;
transition: all 0.2s linear;
}
.fltbtn{float: right;
}
 .btn{
     border-radius: 40px;
     margin: 5px;
 }
 #footer{
     background: black;
     color: white;
 }

 .footicons{
     display: flex;
     
    }
    .about-1{
        width: 350px;
        margin: 50px;
        }
    .sekil-about{
        width: 100%;
        margin: 5px;
    }
    .about-2{
        width: 350px;
        margin: 50px;
    }

    .sekil-about2{
        width: 100%;
        margin: 5px;
    }

    .solxet{
        padding: 15px;
        border-left: 2px solid rgba(128, 128, 128, 0.555);
    }
   
    body li{
        list-style-type: none;
    }
    .imgdiv .frame img{
        transition: all .5s ease;
        width: 100%;
    }
    
    .side ul li a{
        text-decoration: none ! important;
        color: gray;
    }
    
    .imgdiv{
        margin-bottom:70px; 
    }

    .imgdiv .frame{
        transition: all .5s ease;
        overflow: hidden;
    }
    
    
    .imgdiv:hover img{
        transform: scale(1.1);
    }